.download__box
  .download__box__contents
    .download__box__contents__subTitle
      %h3.subTitle だれでもかんたん、人生を変えるフリマアプリ
    .download__box__contents__title
      %h2.title 今すぐ無料ダウンロード！
    .download__box__contents__downloadLink
      = link_to root_path do
        = image_tag "/google-play-badge.png", alt: "googlePlayリンク", class: "googleImg"
      = link_to root_path do
        = image_tag "/App_Store_Badge.png", alt: "appleStoreリンク", class: "appleImg"