.MyPage__box__right
  .MyPage__box__right__box
    .MyPage__box__right__box__top
      .MyPage__box__right__box__top__profile
        .MyPage__box__right__box__top__profile--icon
          = image_tag '/member_photo_noimage_thumb.png', alt: "プロフィール写真"
        .MyPage__box__right__box__top__profile--name
          = current_user.nickname
        %ul.MyPage__box__right__box__top__profile--count
          %li.MyPage__box__right__box__top__profile--count__evaluation
            評価 0
          %li.MyPage__box__right__box__top__profile--count__exhibition
            出品数 0
    .MyPage__box__right__box__bottom
      .MyPage__box__right__box__bottom--title
        取引商品
      .MyPage__box__right__box__bottom--product
        %ul.MyPage__box__right__box__bottom--product__log
          %li.MyPage__box__right__box__bottom--product__log--left
            出品中
          %li.MyPage__box__right__box__bottom--product__log--right
            購入した商品
        .MyPage__box__right__box__bottom__view
          .MyPage__box__right__box__bottom__view__box
            .MyPage__box__right__box__bottom__view__box__exhibit
              - @UserItems.each do |item|
                #{item.name}
            .MyPage__box__right__box__bottom__view__box__buy
              - @BuyerItems.each do |item|
                #{item.name}
