=render  "shared/header"
.topMain
  .topMain__box1
    .topMain__box1__contents
      .topMain__box1__contents__title
        %h2.title 人生を変えるフリマアプリ
      .topMain__box1__contents__subTitle
        %h3.subTitle FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
      .topMain__box1__contents__downloadLink
  .topMain__box2
  .topMain__box3
  .topMain__box4
  .topMain__box5
  .topMain__box6
  .topMain__box7
=render  "shared/footer"
