@import "./_reset";
@import "./_variable";
@import "./top.scss";
@import "./header.scss";
@import "./_pulldown.scss";
@import "./footer.scss";

body{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  ul{
    list-style: none;
    padding: 0;
  }
  a {text-decoration: none;}

}
