.download__box{
  color: $mainWhite;
  margin-top: 50px;
  &__contents{
    background-image: url("/bg-appBanner-pict.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-width: 700px;
    height: 300px;
    padding: 0 60px;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    &__subTitle{
      .subTitle{
        font-size: 30px;
        margin: 0;
      }
    }
    &__title{
      .title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 40px;
        margin: 0;
      }
    }
    &__downloadLink{
      display: flex;
      justify-content: center;
      .googleImg{
        height: 70px
      }
      .googleImg:hover{
        opacity: 0.8;
      }
      .appleImg{
        padding-left: 10px;
        width: 200px;
      }
      .appleImg:hover{
        opacity: 0.8;
      }
    }
  }
}